@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow-x: hidden; 
 }
 
 :root {
   --color-bg1: rgb(87, 150, 213);
   --color-bg2: rgb(0, 24, 97);
   --color1: 30, 2, 0;
   --color2: 30, 69, 186;
   --color3: 235, 12, 0;
   --color4: 10, 10, 110;
   --color5:  13, 8, 8;
   --color-interactive: 138, 138, 227;
   --circle-size: 49%;
   --blending: hard-light;
}
 

 @keyframes moveInCircle {
   0% {
     transform: rotate(0deg);
   }
   50% {
     transform: rotate(180deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }
 
 @keyframes moveVertical {
   0% {
     transform: translateY(-50%);
   }
   50% {
     transform: translateY(50%);
   }
   100% {
     transform: translateY(-50%);
   }
 }
 
 @keyframes moveHorizontal {
   0% {
     transform: translateX(-50%) translateY(-20%);
   }
   50% {
     transform: translateX(50%) translateY(20%);
   }
   100% {
     transform: translateX(-50%) translateY(-20%);
   }
 }

 .about-container {
  display: flex;
  justify-content: center;
  background-image: -webkit-linear-gradient(top, rgb(191, 193, 100) 0%, rgb(19, 80, 88) 100%);
  margin-bottom: 8px;
  border-radius: 25px;
 }

 .mission-container {
  display: flex;
  justify-content: center;
  background-image: -webkit-linear-gradient(bottom, rgb(191, 193, 100) 0%, rgb(19, 80, 88) 100%);
  margin-bottom: 8px;
  border-radius: 25px;
 }

.about-text,
.mission-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  margin: 30px 0;

  color: white;
}

.about-text h2,
.mission-text h2 {
  font-size: 3rem;
  margin: 30px 0;
}

.about-text p,
.mission-text p {
  max-width: 70vw;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.about-text button,
.mission-text button {
  margin-bottom: 30px;
  font-size: 1.2rem;
  padding: 10px 18px;
  border: none;
  border-radius: 18px;
  background-color: white;

  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;

  transition: opacity 0.15s transform 0.1s ease-in-out;
}

.about-text button:hover,
.mission-text button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.about-text button:active,
.mission-text button:active {
  opacity: 0.83;
}

.impact-container {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  margin-bottom: 8px;
  padding-bottom: 20px;
  border-radius: 25px;
  background-color: rgb(190, 208, 186);
}

.impact-header {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  gap: 15px;
  padding-top: 35px;
  max-width: 60vw;
  margin: 0 auto;
}

@media screen and (max-width: 1100px){
  .impact-header {
    grid-template-columns: 1fr 1.4fr;
    max-width: 80vw;
  }
}

@media screen and (max-width: 800px){
  .impact-header {
    max-width: 88vw !important;
  }
  .impact-header-right p {
    font-size: 0.8rem !important;
    font-weight: 200;
  }
  .impact-header-left h2 {
    font-size: 2.2rem !important;
  }
}

.impact-header-left h2 {
  font-size: 2.5rem;
}

.impact-header-left p {
  font-size: 1rem;
}

.impact-header-right p {
  font-size: 1.1rem;
  font-weight: 200;
}

.impact-one h3,
.impact-two h3,
.impact-three h3,
.impact-four h3 {
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.impact-one,
.impact-two,
.impact-three,
.impact-four {
  background-color: #87a47a;
  margin: 24px 30px;
  padding: 18px 20px;
  border-radius: 25px;
  max-width: 800px;
}

.background {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.background > img {
  padding: 8px 10px;
  width: 50px;
  height: 50px;
}

.impact-detail-container {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 15px;
  margin: 0 auto;
}

.impact-content {
  max-width: 800px;
  margin: 0 auto;
}
